@charset "UTF-8";
/* CSS Document */

html { background-color: #edf1f5; }

.header
{
	top: 0px;
	margin: 0px;
	min-width: 350px;
	height: 42px;
	background-color: #fff;
}

#backarrow img { padding-top: 10px; }

#selectnumber { left: 230px; }

.arrow-up { left: 267px; }

.save
{
	top: 6px;
	left: 285px;
}

.remover
{
	top: 7px;
	left: 333px;
}

#number { top: 2px; }

.cropit-image-preview
{
	width: 350px;
	margin-top: -48px;
}

body
{
	width: 350px;
	margin: 0px auto;
	min-height: 700px;
	background-repeat: no-repeat;
}

.arrow-left { left: 17%; }

.square
{
	left: 10%;
	top: 2px;
}

.edit
{
	margin-top: 0px;
	left: 86%;
	top: 2px;
}

input#notebefore[disabled] { top: 1px; left:56px; margin:0px; padding:0px; }
